<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>QUAWACO | Change password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins_2/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/plugins_2/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

  <link rel="stylesheet" href="/stylesheets/login.css">

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#" class="text-center d-flex justify-content-center">
      <img src="/images/logo_quawaco.jpg" alt="Logo Công Ty" class="company-logo">
      <b>QUAWACO</b>
  </a>
  <p class="login-subtext">KIỂM SOÁT VỀ NGUỒN NƯỚC</p>
    <!-- <a href="#">
      <img src="/images/logo_quawaco.jpg" alt="Company Logo" class="logo">
      <b>QUAWACO</b>
  </a> -->
    <!-- <a href="#" class="d-block mt-2"><b>QUAWACO</b></a> -->
  </div>
  <!-- /.login-logo -->
  <div class="card" style="height: 25em !important;">
    <div class="card-body login-card-body">
      <%if(message.error && message.error.length > 0){%>
      <div class="text-center mb-3 mt-3">
        <div class="alert alert-danger" style="background-color: #f8c3c7 !important; color: #721c24 !important; border-color: #f5c6cb !important;" role="alert"><%=message.error%></div>
      </div>
      <%}%>
      <p class="login-box-msg" style="font-size: 1.5rem;">ĐỔI MẬT KHẨU</p>

      <form action="/reset-password" method="POST">
        <div class="input-group mb-3">
        <input type="hidden" name="user_id" value="<%= user_id %>">
          <input type="password" class="form-control" placeholder="Mật khẩu mới" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" name="confirm_password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
                <p class="mt-2">
                    <a href="/login"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Đăng nhập</a>
                  </p>
            </div>
          <div class="col-3 ml-auto">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Gửi</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p> -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/plugins_2/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins_2/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

</body>
</html>
