<footer class="main-footer">
    CÔNG TY CỔ PHẦN SAO VIỆT | Trụ sở: Tầng 2, Tòa nhà Hoàng Ngọc, Lô C2c, Khu CNTT-TT Cầu Giấy, Hà Nội | 
    Điện thoại: 0989 749 935 | Email: <a href="mailto:info@saovietgroup.com.vn" class="text-dark">info@saovietgroup.com.vn</a> | 
    Mã số doanh nghiệp: 0101400928
  </footer>