.vertical-nav-menu {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.vertical-nav-menu::after {
    content: " ";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.vertical-nav-menu .mm-collapse:not(.mm-show) {
    display: block;
}

.vertical-nav-menu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .25s;
    transition-property: height, visibility
}

.vertical-nav-menu ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.vertical-nav-menu:before {
    opacity: 0;
    transition: opacity 300ms
}

.vertical-nav-menu li a {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: .25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0
}

.vertical-nav-menu li a:hover {
    background: #e0f3ff;
    text-decoration: none
}

.vertical-nav-menu li a:hover i.metismenu-icon {
    opacity: .6
}

.vertical-nav-menu li a:hover i.metismenu-state-icon {
    opacity: 1
}

.vertical-nav-menu li.mm-active>a {
    color: #3f6ad8;
    background: #e0f3ff;
    font-weight: bold
}

.vertical-nav-menu li.mm-active>a i.metismenu-state-icon {
    transform: rotate(-180deg)
}

.vertical-nav-menu li a.mm-active {
    color: #3f6ad8;
    background: #e0f3ff;
    font-weight: bold
}

.vertical-nav-menu i.metismenu-state-icon,
.vertical-nav-menu i.metismenu-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1rem;
    opacity: .3;
    transition: color 300ms
}

.vertical-nav-menu i.metismenu-state-icon {
    transition: transform 300ms;
    left: auto;
    right: 0
}

.vertical-nav-menu ul {
    transition: padding 300ms;
    padding: .5em 0 0 2rem
}

.vertical-nav-menu ul:before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px
}

.vertical-nav-menu ul>li>a {
    color: #343a40de;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem 0
}

.vertical-nav-menu ul>li>a:hover {
    color: #5dbcd2;
}

.vertical-nav-menu ul>li>a .metismenu-icon {
    display: none
}

.vertical-nav-menu ul>li>a.mm-active {
    color: #5dbcd2;
    background: #e0f3ff;
    font-weight: bold
}

.app-sidebar.sidebar-text-light {
    border-right: 0 !important
}

.app-sidebar.sidebar-text-light .app-sidebar__heading {
    color: rgba(255, 255, 255, 0.6)
}

.app-sidebar.sidebar-text-light .app-sidebar__heading::before {
    background: rgba(255, 255, 255, 0.5) !important
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a {
    color: rgba(255, 255, 255, 0.7)
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a i.metismenu-icon {
    opacity: .5
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a i.metismenu-state-icon {
    opacity: .5
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a:hover i.metismenu-icon {
    opacity: .8
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a:hover i.metismenu-state-icon {
    opacity: 1
}

.app-sidebar.sidebar-text-light .vertical-nav-menu li a.mm-active {
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.15)
}

.app-sidebar.sidebar-text-light .vertical-nav-menu ul:before {
    background: rgba(255, 255, 255, 0.1)
}

.app-sidebar.sidebar-text-light .vertical-nav-menu ul>li>a {
    color: rgba(255, 255, 255, 0.6)
}

.app-sidebar.sidebar-text-light .vertical-nav-menu ul>li>a:hover {
    color: #fff
}

.app-sidebar.sidebar-text-light .vertical-nav-menu ul>li>a.mm-active {
    color: #fff;
    background: rgba(255, 255, 255, 0.15)
}

.app-sidebar.sidebar-text-light .ps__thumb-y {
    background: rgba(255, 255, 255, 0.3)
}

.app-sidebar.sidebar-text-light .ps__rail-y:hover .ps__thumb-y {
    background: rgba(255, 255, 255, 0.2)
}

.app-sidebar.sidebar-text-light .app-header__logo .logo-src {
    background: url(assets/images/logo.png)
}

.app-sidebar.sidebar-text-light .app-header__logo .hamburger-inner,
.app-sidebar.sidebar-text-light .app-header__logo .hamburger-inner::before,
.app-sidebar.sidebar-text-light .app-header__logo .hamburger-inner::after {
    background-color: rgba(255, 255, 255, 0.8)
}

.app-sidebar.sidebar-text-dark {
    border-right: 0 !important
}

.app-sidebar.sidebar-text-dark .app-sidebar__heading {
    color: rgba(0, 0, 0, 0.6)
}

.app-sidebar.sidebar-text-dark .app-sidebar__heading::before {
    background: rgba(0, 0, 0, 0.5) !important
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a {
    color: rgba(0, 0, 0, 0.6)
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a i.metismenu-icon {
    opacity: .5
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a i.metismenu-state-icon {
    opacity: .5
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a:hover {
    background: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.7)
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a:hover i.metismenu-icon {
    opacity: .7
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a:hover i.metismenu-state-icon {
    opacity: 1
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu li a.mm-active {
    color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.15)
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu ul:before {
    background: rgba(0, 0, 0, 0.1)
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu ul>li>a {
    color: rgba(0, 0, 0, 0.4)
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu ul>li>a:hover {
    color: rgba(0, 0, 0, 0.7)
}

.app-sidebar.sidebar-text-dark .vertical-nav-menu ul>li>a.mm-active {
    color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.15)
}


/* white-box-hover */

.white-box:hover {
    /* box-shadow: 0px 5px 10px #ffc107b0 !important; */
    /* background-image: linear-gradient( 22deg, #34c03c9c 0%, #80c78478 74%) !important; */
    cursor: pointer;
}

.white-box.active {
    /* box-shadow: 0px 5px 10px #ffc107b0 !important; */
    background-image: linear-gradient( 22deg, #34c03c9c 0%, #80c78478 74%) !important;
}
.switch {
    appearance: none;
    width: 54px;
    height: 15px;
    background-color: #c6c6c6;
    border-radius: 30px;
    border: 1px solid gray;
    position: relative;
    transition: 200ms;
    top: 4px;
}

.switch:checked {
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
}

.switch::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    top: -6px;
    left: -1px;
    transition: 200ms;
    box-shadow: 0px 0px 6px grey;
    cursor: pointer;
}

.switch:checked::before {
    left: 28px;
}

.setting-title {
    font-size: 15px;
}

.btn.setting-title {
    font-size: 15px;
}



.page-wrapper.page-wr {
    margin-left: 0px;
    position: relative;
    top: 55px;
}

.page-top {
    background: url('../images/page-title.jpg');
    height: 300px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.title-sp {
    color: white;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}

.title-sp {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc107;
    animation: fadeInLeft linear 0.5s;
    -webkit-animation: fadeInLeft linear 0.5s;
    -moz-animation: fadeInLeft linear 0.5s;
    -o-animation: fadeInLeft linear 0.5s;
    -ms-animation: fadeInLeft linear 0.5s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#contact-sp {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


/* Css add device */

#code_device::placeholder {
    color: #5dbcd2;
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
}

#code_device {
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
    width: 35%;
    margin-left: 2rem;
}

.btn_checkpass {
    background-color: #5dbcd2 !important;
    border-color: #5dbcd2 !important;
    -webkit-box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) !important;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) !important;
    color: white !important;
}

.page-wrapper .container-fluid span i:hover {
    cursor: pointer;
}

.req-content {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


/* Css notification */

.btn-notifi button {
    margin-top: 40px;
}

.back-input {
    background: #4fc3f738;
}

#start_date,
#end_date {
    background: #4fc3f700;
    color: black;
}

#table_notifi,
#tableSource {
    border-bottom: 1px solid gray !important;
}

tbody tr td span a {
    color: black;
}

#eq_content a.active {
    color: #ffc107;
}

#eq_content a.active .white-box {
    box-shadow: 0px 5px 10px #ffc107b0 !important;
}

#eq_table a.active {
    color: #ffc107;
}
.btn_icon {
    background-color: #fff;
    border-radius: 50%;
    border: none;
    padding: 3.5px 5px 2.5px; 
    outline: none !important;
}

.val_content {
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {
    .req-content {
        width: 62%;
    }
    .title-sp {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .req-content {
        width: 75%;
    }
    #code_device {
        width: 50%;
    }
    .page-wrapper .container .row {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
}

@media (min-width: 768px) {
    .page-wrapper .container .row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 575px) {
    .req-content {
        width: 89%;
    }
    #code_device {
        width: 60%;
    }
    .btn-notifi button {
        margin-top: 9px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .title-sp {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .req-content {
        width: 89%;
    }
    .page-wrapper .container .row {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .container_content {
        padding: 0 !important;
    }
}

@media (max-width: 375px) {
    .req-content {
        width: 90%;
    }
    #code_device {
        width: 70%;
    }
}

.class_setting_engine:active{
    background-color: lightblue !important;
}