.horizontal-menu {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.menu-item {
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    background: #1f9dc778;
    border: 1px solid transparent;
    text-decoration: none;
}

.menu-item:hover {
    background: #27b4e3;
    border-color: rgba(255, 255, 255, 0.809);
}

.menu-item.active {
    border-color: #107fa3;
    border-left: 6px solid #1f9ec7;
}

/* Common styles for all pages */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-dd {
    background: rgba(207, 207, 207, 0.284);
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
}

.settings-button {
    margin-top: 15px;
    padding: 8px 15px;
    /* background: rgba(76, 175, 79, 0.716);
    border: 1px solid rgba(76, 175, 79, 0.747); */
    background: rgba(31, 158, 199, 0.716);
    border: 1px solid rgba(31, 158, 199, 0.747);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    cursor: pointer;
}

.settings-button:hover {
    /* background: rgba(76, 175, 79, 0.918); */
    background: rgba(31, 158, 199, 0.918);
}

/* Grid layouts */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 25px;
}

.table-bordered,
.table-bordered> :not(caption)>*>* {
    border-color: #99999982;
    /* màu bạn muốn */
}