.test {
    background-color: red !important;
}

/* body {
    font-size: 70% !important;
} */

.dropdown-item {
    font-size: 70% !important;
}

.nav-item {
    border-radius: 5px 5px 0px 0px;
    width: auto;
    text-align: center;
    font-size: 13.5px;
}

.modalTab {
    font-size: 16px;
    /* font-weight: bold; */
}

.menuBarActive {
    background-color: rgb(242, 242, 243) !important;
}

.menuBarActive1 {
    background-color: rgb(242, 242, 243) !important;
}

.menuBarActive a {
    color: rgb(134, 153, 178) !important;
    /* font-family: 'Roboto Mono', monospace; */
}

.menuBarHover:hover {
    background-color: rgb(110, 110, 110) !important;
    color: aliceblue !important;
}

.navLink {
    color: white !important;
    /* font-family: 'Roboto Mono', monospace; */
}

#accountLink:hover {
    color: white;
}

a {
    text-decoration: none !important;
}

.imgSelectEQ {
    max-width: 200px;
    margin: 15px;
    border: solid 2px gray;
    border-radius: 20px;
}

.imgSelectEQ:hover {
    /* transform: scale(1.3); */
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    /* -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition:transform 1.05s ease-in-out;
  -ms-transition:transform 1.05s ease-in-out; */
    background-color: lightgray;
}

#EQContainer {
    margin-right: auto;
    margin-left: auto;
}


/* .nav-itemm{
  height: 100%;
  padding: 0;
  margin: 0;
} */

#inputListView {
    height: 35px;
    padding: 10px;
    border: solid rgb(194, 194, 194) 1px;
    width: 100%;
}

.btnSaveView {
    background-color: rgb(160, 160, 160) !important;
    color: white !important;
    width: 50%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btnSaveView:hover {
    background-color: rgb(138, 138, 138) !important;
}


/* .dropActionTitle:active{
  background-color:  white !important;
  color: black !important;
} */

.listAction:hover {
    background-color: rgb(173, 173, 173) !important;
    color: white !important;
}

.listAction:active {
    /* background-color: rgb(33, 131, 133) !important; */
    color: aliceblue;
}

.btnListAction {
    border: 1px black solid !important;
    height: 35px;
    width: 150px;
}


/* datalist {
  position: absolute !important;
  background-color: lightgrey  !important;
  font-family: sans-serif !important;
  font-size: 0.8rem !important;
}

option {
  background-color: #bbb  !important;
  padding: 4px  !important;
  margin-bottom: 1px  !important;
  cursor: pointer !important;
} */

a:hover {
    cursor: pointer;
}

.tableContain tr:hover {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.titleRow:hover {
    background-color: #27a3de6e !important;
    cursor: default !important;
}

.titleRow {
    background-color: #27a3de6e ;
}

th {
    outline-style: none;
}

input {
    outline-style: none;
}

.labelInforTab {
    width: 100%;
    color: rgb(131, 131, 131);
    float: left;
    font-size: 110%;
    /* font-weight: bold; */
}

.myDropdownBtn {
    width: 100%;
    overflow: hidden;
    font-size: 95% !important;
    height: 38px !important;
}


/* .dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}
.dropdownItemtz{
  border: 0px !important;
  width: 100%;
  
} */


/* .form-control {
    font-size: 12px !important;
} */

.editFontSize option {
    /* padding: 5px !important; */
    font-size: 90% !important;
    width: 80%;
    float: left;
}

.editFontSize {
    /* font-size: 10px !important; */
    border: 1px solid #ced4da !important;
}

.dataqualityEq {
    font-size: 12px !important;
}

.editFontSize option {
    /* padding: 5px !important; */
    font-size: 95% !important;
    width: 80%;
    float: left;
}

.total_e {
    font-size: 17px;
    font-weight: bold;
}

.btn-e {
    font-weight: bold !important;
}


/* .daterangepicker{
  left: 20% !important;
  width: 35% !important;
} */

[name=menuBar] {
    font-size: 14px !important;
}


/* .modalFooter{
  float: right;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.trashclick:hover {
    background-color: darkgray;
    cursor: pointer;
}

.trashclickWarnLevel:hover {
    background-color: darkgray;
    cursor: pointer;
}


/* .selectedPara{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 10px;
} */

.trashpara:hover {
    background-color: darkgray;
    cursor: pointer;
}

.decriptionDashboard {
    border: solid 1px gray;
}

#setSendTime {
    top: 15%;
    outline: none;
    overflow: hidden;
}

.filter-option-inner-inner {
    font-size: 12px !important;
}

.settingBtn:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 25px;
    background-color: white;
    padding: 10px;
    grid-auto-flow: row;
}

.item {
    background-color: rgba(255, 255, 255, 0.795);
    text-align: center;
    padding: 20px 0;
    /* font-size: 30px; */
    max-width: 470px;
    border: solid 1px lightgray;
}

.titleItem {
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(22, 27, 22);
    margin: 3px;
    padding: 20px;
    border: solid 1px lightgray;
}

.numberItem {
    width: 100%;
    font-weight: bold;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(22, 27, 22) !important;
}

.equipClick:hover {
    cursor: pointer;
    background-color: lightgray;
}

.equipClick {
    border: solid 1px lightgray;
}

/* chỉnh căn lề header datatable */
td.text-right-data-table {
    text-align: right;
}

td.text-left-data-table {
    text-align: left;
}

td.text-center-data-table {
    text-align: center;
}

th.text-middle-cell {
    vertical-align : middle !important;
}

.modal {
    overflow-y:auto !important;
  }


  .map_maker_laber_text{
    font-size: 12px;
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 0 lightgray, -1px 0 lightgray, 0 1px lightgray, 0 -1px lightgray, 1px 1px lightgray, -1px -1px lightgray, 1px -1px lightgray, -1px 1px lightgray;
    margin-bottom: 40px;
}



